@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusinessManagement.Models.Bids

@{
    ViewData["Title"] = "View Bid";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error: </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="modal fade" id="viewBidsModal" tabindex="-1" role="dialog" aria-labelledby="viewBidsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewBidsModalLabel">View Bids</h5>
                <button type="button" class="btn-close" onclick="window.location.href = '/bids/Index'" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="Create" method="post">
                   
                    <!-- Rest of the form fields -->
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <input type="hidden"  class="form-control" asp-for="BidId" /> <span asp-validation-for="BidId" class="text-danger"></span>
                            <label class="form-label">Title<b class="text-danger">*</b></label>
                            @*<input type="text"  class="form-control" asp-for="ProjectTitle" placeholder="Project Title" />*@
                            <textarea disabled placeholder="Project Title" class="form-control" asp-for="ProjectTitle"></textarea>
                            <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <label class="form-label">URL<b class="text-danger">*</b></label>
                            <textarea disabled placeholder="Enter Project Url" class="form-control" asp-for="ProjectUrl"></textarea>
                            <span asp-validation-for="ProjectUrl" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <label class="form-label">Description<b class="text-danger">*</b></label>
                            @*<input type="text" class="form-control" placeholder="Description" asp-for="Description" />*@
                            <textarea disabled placeholder="Description" class="form-control" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <label class="form-label">Client<b class="text-danger">*</b></label>
                            <select disabled class="form-control" asp-for="ClientId">
                                <option>--select--</option>
                                @if (Model != null)
                                {
                                    @foreach (var client in Model.Clients)
                                    {
                                        <option value="@client.ClientId">@client.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="ClientId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Bid Date<b class="text-danger">*</b></label>
                            <input disabled type="date" class="form-control" asp-for="BidDateTime" />
                            <span asp-validation-for="BidDateTime" class="text-danger"></span>


                        </div>
                    </div>






                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label  class="form-label">Connect Spent<b class="text-danger">*</b></label>
                            <div class="input-group">

                                <input disabled type="number" class="form-control" asp-for="ConnectSpent" placeholder="Connect Spent" /> <span asp-validation-for="ConnectSpent" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Bid Response<b class="text-danger">*</b></label>
                            <select disabled class="form-control" asp-for="BidResponseId">
                                <option>--select--</option>
                                @if (Model != null)
                                {
                                    @foreach (var Res in Model.Response)
                                    {
                                        <option value="@Res.BidResponseId">@Res.Response</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="BidResponseId" class="text-danger"></span>
                        </div>
                    </div>

                    


                    <div class="row mb-3">
                        <div class="col-sm-5"> <button type="button" class="btn form-control rounded-pill btn-secondary" onclick="window.location.href = '/bids/Index'">Back</button></div>

                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <a asp-controller="Bids" asp-action="Edit" asp-route-id="@Model.BidId" title="Edit" class="btn form-control rounded-pill btn-primary">Edit</a>
                            @*<button type="button" class="btn form-control rounded-pill btn-primary" onclick="window.location.href = '/bids/Edit?ID='+@Model.BidId">Edit</button>*@
                        </div>
                       
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:50px;  display:none; ">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 border border-success rounded pt-1 pe-5 ps-5 pb-1" style="background-image:linear-gradient(45deg,#7fe39f,#c04ff0)">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewBidsModal" id="viewBidsButton">View Bids</button>
    </div>
    <div class="col-sm-3"></div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#viewBidsModal').modal('show');
        });
    </script>
}
